/src/__pycache__
/src/database
/src/api/routers/__pycache__
/src/core/__pycache__
/src/infrastructure/__pycache__
/src/infrastructure/repository/__pycache__
/src/infrastructure/models/__pycache__
/src/domain/__pycache__
/src/domain/interfaces/__pycache__
/src/schemas/__pycache__
/src/services/__pycache__

/tests/__pycache__
/tests/database
/tests/api/routers/__pycache__
/tests/infrastructure/__pycache__
/tests/infrastructure/repository/__pycache__
/tests/domain/interfaces/__pycache__
/tests/schemas/__pycache__
/tests/services/__pycache__
.pytest_cache

ServiceLogs.log
venv/
.vscode/